extends base_slides

block title
    - var topic = topics.filter(function(x){return x.orig_path == parent_topic})[0]
    .
        #{ topic.title }

block content
  - var topic = topics.filter(function(x){return x.orig_path == parent_topic})[0]
  .
    #{ contents }

  |
  | ---
  |
  |
  | ## Tutorials
  |

  if topic.tutorials
    ul
    each tutorial_path in topic.tutorials
        - var tutorial = tutorials.filter(function(x){return x.orig_path == tutorial_path})[0]
        - var topic_relative_path = topic.orig_path.replace('/metadata.md','')

        if tutorial.type == "tutorial"
            if tutorial.hands_on == "yes"
              li
                a( href= site.url + topic_relative_path + "/tutorials/" + tutorial.tutorial_name  )   #{ tutorial.title }
            else if tutorial.hands_on == "github"
              li
                a( href= site.github_repository + "/tree/master/" + topic_relative_path + "/tutorials/" + tutorial.tutorial_name  + ".md"  ) #{ tutorial.title }
            else if tutorial.slides == "yes"
              li
                a( href= site.url + topic_relative_path + "/slides/" + tutorial.tutorial_name  ) #{ tutorial.title }
