extends base_slides.pug

block title
  - var tutorial = tutorials.filter(function(x){return x.orig_path == parent_tutorial})[0]
  - var topic = topics.filter(function(x){return x.orig_path == parent_topic})[0]
  .
    #{ tutorial.title }


block content
  - var tutorial = tutorials.filter(function(x){return x.orig_path == parent_tutorial})[0]
  - var topic = topics.filter(function(x){return x.orig_path == tutorial.parent_topic})[0]

  if tutorial.questions
    h3 
      i.fa.fa-question-circle 
      | Questions
    
    ul 
      each question in tutorial.questions
        li #{ question }

    |
    | ---
    |

  if tutorial.objectives
    h3 
      i.fa.fa-check-square 
      | Objectives

    ul
      each objective in tutorial.objectives
        li #{ objective }

    |
    | ---
    |
  
  .
    #{ contents }

  |
  | ---
  |
  
  
  if tutorial.key_points
    h3 
      i.fa.fa-exclamation-triangle 
      | Key points

    ul 
      each key_point in tutorial.key_points
        li  #{ key_point }

    |
    | ---
    |

  
  h2 
    i.fa.fa-thumbs-up  
    | Congratulations
    br 
    | on successfully completing this tutorial!
